div.page-wrapper {
	position: absolute;
	display: flex;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	justify-content: center;
	align-items: center;

	overflow: hidden;
	overflow-y: auto;

	&[data-flex="false"] {
		display: block;
	}
}

div.content-wrapper {
	position: relative;
	display: flex;

	width: 100%;
	height: fit-content;

	top: 0;
	left: 0;

	justify-content: center;
	align-items: center;

	flex-direction: column;

	overflow: hidden;

	padding: 20px;
	margin-bottom: 20px;
	line-height: 20px;

	opacity: 1;
	transition: 150ms ease all;

	color: #eee;

	&[page-state="opening"],
	&[page-state="closing"],
	&[page-state="closed"] {
		transform: scale(0.98, 0.98);
		opacity: 0;
		pointer-events: none;
	}

	div.title {
		font-size: 24px;
		font-weight: 500;

		text-align: center;

		color: #eee;
	}

	article.text-content {
		position: relative;
		display: block;

		width: fit-content;
		max-width: 420px;

		text-align: justify;

		color: #eee;

		p {
			position: relative;
			display: block;

			margin: 0;
			margin-bottom: 15px;

			&::first-letter {
				margin-left: -5px;
			}
		}

		&::before {
			content: attr(data-title);

			position: relative;
			display: block;

			width: 100%;
			height: fit-content;

			color: #eee;
			opacity: .5;

			font-size: 14px;

			text-align: center;
			margin: 10px 0;

			margin-top: 30px;
		}
	}
}
